<a href="https://colab.research.google.com/github/betsysavage/RemoteWorkAnalysis/blob/AWS_database/AWS/remote_working__rds_connection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [64]:
# ATTENTION: REPLACE <password> WITH TEAM PASSWORD
# Connection Engine
engine = create_engine("postgresql://postgres:<password>@remoteworking.ckzz8nmstjq2.us-east-2.rds.amazonaws.com:5432/RemoteWorking")

In [65]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

<ipython-input-65-f6a23d3d2a7f>:4: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True)

In [67]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [68]:
Base = automap_base()

In [69]:
Base.prepare(engine, reflect=True)

<ipython-input-69-ea32bbf05ec8>:1: SADeprecationWarning: The AutomapBase.prepare.reflect parameter is deprecated and will be removed in a future release.  Reflection is enabled when AutomapBase.prepare.autoload_with is passed.
  Base.prepare(engine, reflect=True)

In [70]:
Base.classes.keys()

['time_management', 'orginizational_data', 'respondents']

In [71]:
# Save references to each table
re = Base.classes.respondents
re

ord = Base.classes.orginizational_data
ord

tm = Base.classes.time_management
tm

sqlalchemy.ext.automap.time_management

In [72]:
#import pandas
import pandas as pd

In [73]:
#create dictionary from references to tables
re_dict = session.query(re.responder_id, re.birth_year,re.gender,re.industry_desc,
                        re.occupation_desc, re.manage_others, re.household, 
                        re.years_at_job, re.metro_or_regional).all()
#re_dict

In [74]:
#turn dictionary into dataframe
respondents_df = pd.DataFrame(re_dict)
respondents_df.head()

,responder_id,birth_year,gender,industry_desc,occupation_desc,manage_others,household,years_at_job,metro_or_regional
0,0,1972,Female,Other,Clerical and administrative,No,Couple with no dependent children,More than 5 years,Regional
1,1,1972,Male,Other,Managers,Yes,Couple with dependent children,More than 5 years,Metro
2,2,1982,Male,Other,Managers,Yes,One parent family with dependent children,More than 5 years,Metro
3,3,1987,Female,"Professional, Scientific and Technical Services",Professionals,No,Couple with dependent children,Between 1 and 5 years,Metro
4,4,1991,Male,Other,Managers,Yes,Couple with no dependent children,More than 5 years,Metro

In [75]:
#create dictionary from references to tables
ord_dict = session.query(ord.responder_id, ord.organization_size, ord.org_encouraged_rw,
    ord.org_prepared_for_rw, ord.rw_is_common_at_org, ord.rw_permission_is_attainable, 
    ord.rw_collaboration_easy, ord.if_no_covid_employer_encourage_rw,
    ord.if_no_covid_employer_support_rw, ord.if_no_covid_i_would_have_choice_about_rw).all()

In [76]:
#turn dictionary into dataframe
organizational_df = pd.DataFrame(ord_dict)
organizational_df.head()

,responder_id,organization_size,org_encouraged_rw,org_prepared_for_rw,rw_is_common_at_org,rw_permission_is_attainable,rw_collaboration_easy,if_no_covid_employer_encourage_rw,if_no_covid_employer_support_rw,if_no_covid_i_would_have_choice_about_rw
0,0,Between 20 and 199,Strongly agree,Somewhat agree,Somewhat agree,Strongly agree,Somewhat agree,Somewhat disagree,Somewhat disagree,Strongly disagree
1,1,Between 1 and 4,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree
2,2,More than 200,Neither agree nor disagree,Somewhat agree,Somewhat agree,Neither agree nor disagree,Somewhat agree,Somewhat agree,Somewhat agree,Somewhat agree
3,3,Between 20 and 199,Strongly agree,Somewhat disagree,Somewhat agree,Strongly agree,Strongly agree,Somewhat agree,Strongly agree,Somewhat agree
4,4,Between 5 and 19,Somewhat disagree,Somewhat agree,Strongly agree,Somewhat disagree,Somewhat agree,Strongly disagree,Strongly disagree,Strongly disagree

In [77]:
#create dictionary from references to tables
tm_dict = session.query(tm.responder_id, tm.rw_percentage_2020, tm.preferred_rw_percentage_2020,
    tm.preferred_rw_percentage_future, tm.productivity_remote_vs_office,
    tm.inperson_hours__commuting, tm.inperson_hours__working,
    tm.inperson_hours__personal_family_time, tm.inperson_hours_domestic_responsibilities, 
    tm.remote_hours_commuting, tm.remote_hours_working,
    tm.remote_hours_personal_family_time, tm.remote_hours_domestic_responsibilities,
    tm.commute_time_difference).all()

In [78]:
#turn dictionary into dataframe
time_management_df = pd.DataFrame(tm_dict)
time_management_df.head()

,responder_id,rw_percentage_2020,preferred_rw_percentage_2020,preferred_rw_percentage_future,productivity_remote_vs_office,inperson_hours__commuting,inperson_hours__working,inperson_hours__personal_family_time,inperson_hours_domestic_responsibilities,remote_hours_commuting,remote_hours_working,remote_hours_personal_family_time,remote_hours_domestic_responsibilities,commute_time_difference
0,0,4-5 days,4-5 days,4-5 days,much more productive,2.0,8.0,2.0,2.0,0.5,8.0,3.5,2.0,1.5
1,1,1-2 days,1-2 days,1-2 days,less productive,2.0,7.0,3.0,3.0,0.0,7.0,3.0,3.0,2.0
2,2,2-3 days,3-4 days,3-4 days,less productive,6.0,1.0,6.0,5.0,5.0,2.0,7.0,7.0,1.0
3,3,4-5 days,4-5 days,4-5 days,same productivity,1.0,9.0,1.0,2.0,0.0,9.0,3.0,2.0,1.0
4,4,4-5 days,4-5 days,3-4 days,more productive,1.0,8.0,3.5,2.0,0.0,6.0,4.0,3.0,1.0